  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	}

	body {
    background-image: url(../assets/img/background2.webp);
    background-repeat: no-repeat;
    background-position: left right;
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
    color:white;
		font-family: 'Rye', cursive;
		text-align: center;
	}

	.map {
    margin: 2em 0em 2em 0em;
	}

  select, option {
    color: black;
    height: 2.5em;
    width: 19em;
    margin: 3em;
  }

   #pizza, #calzone, #noodles, #desserts {
    margin: 1em;
    outline: 8px dotted gold;
    border-radius: 1em;
  }
