* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

figure {
 background-image: url(../assets/img/background.jpg);
 background-repeat: no-repeat;
 background-position: center bottom;
 background-size:cover;
 height: 100vh;
}

h1{
  position: relative;
  color: white; /*#321414;*/
  margin-top: 6em;
  text-align: center;
}

.loading{
  margin-top: 2em;
  text-align: center;
}

i {
  color: white; /*#321414;*/
}
