* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

figure {
 background-image: url(../assets/img/lasagna.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-size:cover;
 height: 100vh;
}

h1, h2{
  position: relative;
  color: green; /*#321414;*/
  margin-bottom: 1em;
  top: 4.5em;
  text-align: center;
}

i {
  color: green; /*#321414;*/
  position: relative;
  justify-content: center;
  top: 5em;
  left: 
}
